* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(110, 146, 187);
}
.App {
  text-align: center;
}
.todoContainer {
  width: 50%;
  margin-inline: auto;
  background-color: bisque;
  margin-block: 100px;
  padding: 20px;
  border-radius: 20px;
}
.todo-input {
  width: 70%;
  height: 2.5rem;
  padding-inline: 10px;
  border: 0;
  outline: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 800;
}
.todo-submit {
  height: 2.5rem;
  padding-inline: 5px;
  border: 0;
  outline: 0;
  color: white;
  background-color: rgb(110, 146, 230);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.todoform {
  margin-block: 30px;
}
.todo {
  width: 80%;
  margin-inline: auto;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: lightslategrey;
  color: white;
  border-radius: 10px;
  margin-block: 5px;
  cursor: pointer;
}
.icons {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.completed {
  text-decoration: line-through;
  color: bisque;
}
.todo-update {
  height: 2.5rem;
  padding-inline: 5px;
  border: 0;
  outline: 0;
  color: white;
  background-color: rgb(110, 146, 230);
}
.empty-msg {
  color: red;
}
.clear-btn {
  color: white;
  background-color: black;
  padding: 5px;
  width: 15%;
  margin-top: 10px;
  border: 0;
  outline: 0;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}
